# SQLite version 3.x
#   gem install sqlite3-ruby (not necessary on OS X Leopard)
development:
    adapter: mysql2
    database: sharetribe_development
    encoding: utf8
    username: root
    password: {{ mysql_root_password }}
    host: localhost

# Warning: The database defined as "test" will be erased and
# re-generated from your development database when you run "rake".
# Do not set this db to the same as development or production.
# The example has user root for tests to work with Travis CI
test: &test
    adapter: mysql2
    database: sharetribe_test
    encoding: utf8
    username: root
    password: {{ mysql_root_password }}
    host: localhost

staging:
    adapter: mysql2
    database: sharetribe_staging
    encoding: utf8
    username: root
    password: {{ mysql_root_password }}
    host: localhost

production:
    adapter: mysql2
    database: sharetribe_production
    encoding: utf8
    username: root
    password: {{ mysql_root_password }}
    host: localhost
#    socket: /var/run/mysqld/mysqld.sock

cucumber:
  <<: *test
